body {
  font-family: Arial, sans-serif;
  background-color: #06192e;
  color: #f2f2f2;
  height: 100vh;
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  max-width: 150px;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px
}

.grid-item {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.grid-item h3 {
  margin: 10px 0;
  font-size: 16px;
}

#select {
  font-weight: 700;
  color: #f2f2f2;
}

.loading-icon {
  font-size: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #06192e;
  color: #fff;
  text-align: center;
  padding: 10px;
}
